<h1>Pages#show</h1>
<p>Find me in <%= @url%></p>

<h3>Exercice - How do you deal with this scenario?</h3>

<p>
  The SEO manager has this need: he wrote an article with a big infographic
  and he told you: “I would like to improve the user experience here! When a
  visitor clicks on the infographic, I want to give him the possibility to zoom”.<br/>
  > What are your first actions to move forward with this need?
</p>
<p>
  <b>
    My first action would be to further investigate the need before starting on a solution. This will allow the feature to be framed better.<br/>
    Indeed, as stated, the need raises some questions such as:
    <ul>
      <li>How much would you like to be able to zoom in?</li>
      <li>Should the application control the zoom or is it up to the user?</li>
      <li>What behaviour for the mobile phone?</li>
      <li>...</li>
    </ul>
    It is possible that if you go into more detail, you will realise that you simply need to open the infographic on another tab and that the application as it stands already allows you to do just what you want. This could avoid having to go back and forth with the devs.
  </b>
</p>